// /* Always set the map height explicitly to define the size of the div
//  * element that contains the map. */

#map {
  height: 450px;
  margin: 5px;
}

#hidden-list{
  display: none;
}

#card-div{
  padding-top: 20px;
}

#ticket-sum, #font-size-parking, #net {
  font-size: 3em;
}

.card {
  width: 286px;
  height: 12em;
}

.card-header{
  font-size: 18px;
}



// #top-bg{
//   background-color: black
// }
// /* Optional: Makes the sample page fill the window. */

// html,
// body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
