<div class="dash-container">
  <div id="map"></div>

  <div>
    <h4>Money Saved</h4>
    <p>$
      <span id="parking-sum">{{sum}}</span>
    </p>
  </div>

  <div>
    <h4>Tickets</h4>
    <p id="ticket-sum"></p>
  </div>

  <div>
    <h4>Net</h4>
    <p id="net"></p>
  </div>

  <br>
  <a href="/parking">Add Parking</a>
  <br>
  <a href="/fines">Add Tickets</a>
  <br>
  <a href="/logout">Logout</a>


  <div id="hidden-list">
    {{locations}} {{#each tickets}}
    <div class="tickets">{{this.cost}}</div>
    {{/each}}
  </div>