<link rel='stylesheet' href='/stylesheets/style.css' />

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">
    <img src="images/ticket_dodger_icon.png" width="30" height="30" class="d-inline-block align-top bg-light rounded-circle"
      alt=""> Ticket Dodger
  </a>
  <span class="navbar-brand mb-0 h1"></span>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active bg-danger shadow" href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<div id="top-bg" class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div id="map" class="col-9 shadow-lg"></div>
    </div>
  </div>
</div>

<div id="bottom-bg">
  <div class="container text-center">
    <div class="row justify-content-around text-center" id="card-div">
      <div class="card text-white bg-success mb-3 shadow-lg" style="max-width: 18rem;">
        <div class="card-header">Money Saved</div>
        <div class="card-body">
          <h5 class="card-title" id="font-size-parking">$
            <span id="parking-sum">{{sum}}</span>
          </h5>
          <a class="btn btn-outline-success bg-light shadow-lg" href="/parking" role="button">Add Parking</a>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3 shadow-lg" style="max-width: 18rem;">
        <div class="card-header">Tickets</div>
        <div class="card-body">
          <h5 class="card-title" id="ticket-sum"></h5>
          <a class="btn btn-outline-danger bg-light shadow-lg" href="/add-ticket" role="button">Add Ticket</a>
          <a class="btn btn-outline-danger bg-light shadow-lg" href="/tickets" role="button">Edit Tickets</a>
        </div>
      </div>
      <div class="card text-white bg-info mb-3 shadow-lg" style="max-width: 18rem;">
        <div class="card-header">Net</div>
        <div class="card-body">
          <h5 class="card-title" id="net"></h5>
        </div>
      </div>
    </div>
  </div>
</div>


{{!--

<div class="col">
  <h4>Money Saved</h4>
  <p>$
    <span id="parking-sum">{{sum}}</span>
  </p>
</div>

<div class="col">
  <h4>Tickets</h4>
  <p id="ticket-sum"></p>
</div>

<div class="col">
  <h4>Net</h4>
  <p id="net"></p>
</div>
</div> --}} {{!--
<br>
<a href="/parking">Add Parking</a>
<br>
<a href="/add-ticket">Add Tickets</a>
<br> --}}

<div id="hidden-list">
  {{locations}} {{#each tickets}}
  <div class="tickets">{{this.cost}}</div>
  {{/each}}
</div>
</div>