<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">
    <img src="images/ticket_dodger_icon.png" width="30" height="30" class="d-inline-block align-top bg-light rounded-circle" alt="">
      Ticket Dodger
  </a>
  <span class="navbar-brand mb-0 h1"></span>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active bg-danger shadow" href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<form action="/ticket/edit?ticket_id={{ticket._id}}" method="post">
    <label for="cost">Cost:</label>
    <input type="number" step="0.01" min="0" name="cost" oninput="this.value = Math.abs(this.value)" value="{{ticket.cost}}">
    <button type="submit">EDIT</button>
</form>