<form action="/parking" method="POST">
  <div>
    <label for="time">Hours:</label>
    <input type="number" min="0" name="time" oninput="this.value = Math.abs(this.value)">
  </div>
  <div>
    <label for="rate">Rate:</label>
    <input type="number" step="0.01" min="0" oninput="this.value = Math.abs(this.value)" name="rate">
  </div>
  <select name="frequency">
    <option value="Once">Once</option>
    <option value="Daily">Daily</option>
    <option value="Weekly">Weekly</option>
  </select>

    <div>
        <label for="start">Start</label>
        <input type="date" id="start" name="start"/>
    </div>
    <div>
        <label for="end">End</label>
        <input type="date" id="end" name="end"/>
    </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Enter">
  </div>
</form>

<br>
<a href="dashboard">Dashboard</a>