<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">
    <img src="images/ticket_dodger_icon.png" width="30" height="30" class="d-inline-block align-top bg-light rounded-circle" alt="">
      Ticket Dodger
  </a>
  <span class="navbar-brand mb-0 h1"></span>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active bg-danger" href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

{{#if tickets}}
<h1>Tickets</h1>
{{/if}}

{{#each tickets}}
    <p>
        <span>Date Created: {{this.created_at}} Amount: ${{this.cost}}</span>
        <a href="/ticket/edit?ticket_id={{this._id}}" class="edit-button">EDIT</a>
    </p>
{{/each}}

{{#unless tickets}}
  <h3>No tickets yet! Sweet!</h3>
{{/unless}}